body  
{  
    margin: 0;  
    padding: 0;  
    background-image: url("1.jpg");
    font-family: 'Arial';  
}  
.login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;
        margin-top: 10px;   
        padding: 80px;  
        background: #23463f;  
        border-radius: 15px ;  
          
}  
h1{  
    margin-top: 100px;   
    text-align: center;  
    color: #ffffff;  
    padding: 20px;  
}  
label{  
    color: #08ffd1;  
    font-size: 17px;
    margin: auto;  
    text-align: center; 
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;
    font-family: 'Arial';   
  
  
}  
span{  
    color: white;  
    font-size: 17px;  
}  
a{  
    float: right;  
    background-color: grey;
    font-family: 'Arial';
}  