a, a:link, a:active, a:hover {
    text-decoration: none;
    color: #2E2121;
}

.navbar-fixed-left {
    position: fixed;
    border-radius: 0;
    background-color: rgb(236, 235, 235);
    display: block;
}

.navbar-fixed-left .navbar-nav li {
    float: none;
    padding: 12px 8px;
}

.nav-profile {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    text-align: center;
}

.nav-list-icon {
    display: inline-flex;
    border-radius: 100%;
    width: 8px;
    height: 8px;
    background: grey;
    margin-right: 10px;
}

.s-header {
    padding: 10px 0;
    border-bottom: 2px solid rgb(236, 235, 235);
    font-size: 36px;
    color: rgb(95, 95, 95);
}

.s-context input, .s-context select {
    padding: 10px 4px;
    width: 240px;
}

.s-context input:first-of-type {
    margin-right: 25px;
}

.s-context select {
    margin-top: 25px;
}

.chosenFile p {
    margin-top: 20px;
    padding: 16px 10px;
    text-align: center;
    color: rgb(95, 95, 95);
    background-color: rgb(236, 235, 235);
}

.chosenFile {
    position: relative;
}

.chosenFile input {
    width: 100%;
    position: absolute;
    top: 0;
    padding: 13px;
    opacity: 0;
    cursor: pointer;
}

.btnPredict {
    padding: 10px 80px;
    margin-top: -7px;
}