<head>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<!DOCTYPE html>
<html>
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Registration Page</h1><br>
    <div class="login">
    <form action="{{ url_for('register') }}" method="post" id="login">
      <div class="msg">{{ msg }}</div>
        <label style="margin: 10px;"><b>User Name
        </b>
        </label>
        <input style="margin: 10px;" id="username" name="username" type="text" placeholder="Username" class="textbox"/>
        <br><br>
        <label style="margin: 10px;"><b>Password
        </b>
        </label>
        <input style="margin: 10px;" id="password" name="password" type="password" placeholder="Password" class="textbox"/>
        <br><br>
        <label style="margin: 10px;"><b>Email Id
        </b>
        </label>
        <input style="margin: 10px;" id="email" name="email" type="text" placeholder="Email ID" class="textbox"/>
        <br><br>
        <input type="submit" name="log" id="log" value="Finish Registration">
        <br><br>
        <a style="font-family: 'Arial';" href="{{ url_for('login') }}">Sign in</a>
    </form>
</div>
</body>
</html>
