<head>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<!DOCTYPE html>
<html>
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Registration Page</h1><br>
    <div class="login">
    <form id="login" method="get" action="login.php">
        <label style="margin: 10px;"><b>Name
        </b>
        </label>
        <input style="margin: 10px;" type="text" name="Uname" id="Uname" placeholder="Name">
        <br><br>
        <label style="margin: 10px;"><b>Surname
        </b>
        </label>
        <input style="margin: 10px;" type="text" name="Uname" id="Uname" placeholder="Surname">
        <br><br>
        <label style="margin: 10px;"><b>User Name
        </b>
        </label>
        <input style="margin: 10px;" type="text" name="Uname" id="Uname" placeholder="Username">
        <br><br>
        <label style="margin: 10px;"><b>Password
        </b>
        </label>
        <input style="margin: 10px;" type="Password" name="Pass" id="Pass" placeholder="Password">
        <br><br>
        <a href="{{ url_for('login') }}"><input type="button" name="log" id="log" value="Finish Registration"> </a>
        <br><br>
        <input type="checkbox" id="check">
        <span>Remember me</span>
        <br><br>
        <a style="font-family: 'Arial';" href="#">Forgot Password</a>
    </form>
</div>
</body>
</html>
