<head>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<!DOCTYPE html>
<html>
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Registration Page</h1><br>
    <div class="login">
    <form id="login" action="{{ url_for('register') }}" method="post">
      <div class="msg">{{ msg }}</div>
        <label style="margin: 10px;"><b>User Name
        </b>
        </label>
        <input style="margin: 10px;" type="text" name="Uname" id="Uname" placeholder="User Name">
        <br><br>
        <label style="margin: 10px;"><b>Password
        </b>
        </label>
        <input style="margin: 10px;" type="Password" name="Pass" id="Pass" placeholder="Password">
        <br><br>
        <label style="margin: 10px;"><b>Email Id
        </b>
        </label>
        <input style="margin: 10px;" type="text" name="Email_Id" id="Email_Id" placeholder="Email Id">
        <br><br>
        <input type="submit" name="log" id="log" value="Finish Registration">
        <br><br>
    </form>
</div>
</body>
</html>
